@charset "utf-8";
@import "node_modules/bulma/bulma";

.bg-image {
    background-image: url(https://source.unsplash.com/collection/1412377);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contacts-data {
    padding: 30px;
    background: #3a4a63;
    margin: auto;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}